 
/*------------------------------ HOMEPAGE -------------------------------------------*/

 /*-----------NAVIGATION -------------- */

ul{
  padding: 0;
  padding-left: 50%;
  padding-top: 5%;
  margin:0;
  display:flex;
}
ul li{
  list-style:none;
}

ul li a{
  text-decoration:none;
  color:#4d4d4d;
  font-size:21px;
  display:block;
  padding:11px 17px;
  position:relative;
}
ul li a:before{
  content:' ';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:3px;
  background-color:#4d4d4d;
  transform:scaleX(0);
  transition:all 0.5s;
  transform-origin: right;
  
}
ul li a:hover:before,ul li a:hover:after{
  transform:scaleX(1);
}
ul li a:after{
  content:' ';
  position:absolute;
  top:100%;
  left:0;
  width:100%;
  height:3px;
  background-color:#4d4d4d;
  transform:scaleX(0);
  transition:all 0.5s;
  transform-origin:left;
}

.navbar__logo {
  line-height: 4rem;
  margin-left: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: black;
  float: left;
  padding: 5%;
}
/*----------- HEADING -------------- */

.top-photo{
  background-image: url(https://www.fillmurray.com/1238/481);
  height: 481px;
  margin: 5%;
  padding: 2%;

}

h1{
  text-decoration:none;
  color:#4d4d4d;
  font-size:40px;
  display:block;
  padding-left: 40%;
  position:relative;
}
p{
  padding-left: 30%;
  font-size: 2vh;
  max-width: 550px;
  padding-right: 20%;
}


/*----------- WORK -------------- */
#work{
  height: 500px;
  width: 600px;
  /*background-color: #555;*/
}
.box-container{
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 7%;
  padding-right: 7%;

  
}

.box-1{
   background-image: url(https://www.fillmurray.com/500/600);
   -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.box-1:hover{
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
  background-color: darkgrey;
  opacity:0.5;
}

.box-2{
 background-image: url(https://www.fillmurray.com/500/900);
 -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.box-2:hover{
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
  background-color: darkgrey;
  opacity:0.5;
}
.box-3{
  background-image: url(https://www.fillmurray.com/1000/400);
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.box-4{
  background-image: url(https://www.fillmurray.com/400/800);
}
.box-5{
  background-image: url(https://www.fillmurray.com/500/600);
}
.box-6{
  background-image: url(https://www.fillmurray.com/500/900);
}
.box-7{
  background-image: url(https://www.fillmurray.com/1000/400);
}
.box-8{
   background-image: url(https://www.fillmurray.com/400/800);
}
.box-9{
  background-image: url(https://www.fillmurray.com/500/900);
}
.box-10{
  background-image: url(https://www.fillmurray.com/1000/400);
}
